@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Magasin informatique</h1>
</div>

<div class="row">
    <div class="col-md">
        <h2 class="text-center">Bienvenue</h2>
        <div class="text-center img-accueil">
            <img src="~/Front/img/IndexShopSeb.jpg" />
        </div>
        <p class="text-center">
            Grâce à ASP.NET MVC, je dispose maintenant d'une plateforme Web de vente vous permettant d'effectuer vos achats depuis votre domicile.
        </p>
    </div>
    
</div>